<div id="separacion2">
    <h1>
        <span id="forum_separacion_2">F<span id="o_separacion_2">O</span>RUM</span>
        <p>Te invita</p>
        <span id="circulo_2">
            <span id="texto_circulo_2">CIRCULO</span>
            <span id="texto_circulo_2_emprendedores">Emprendedores</span>
        </span>
        <span id="texto_separacion2">Lorem ipsum dolor sit amet   elit. Inventore in eos aut accusamus repellendus, pariatur voluptates ipsum molestias sit quasi deserunt nobis, error veritatis est, adipisci hic fugit ipsam aperiam.</span>
    <span id="revista_forum_separacion2">REVISTA FORUM <span id="texto_final_separacion2">La mejor revista de la semana</span></span>
    
    </h1>
    
    </div>